[2017-07-17 20:28] AntimoMarrazzo opened #1 "More robust seedname.wout parser"
We should use regular expression instead of split&strip to parse x y z and the spread at each iteration.

[2017-07-17 20:29] AntimoMarrazzo opened #2 "exclude_band"
exclude bands does not work for len(exclude_bands)>~10, because the plugin converts it into a range and it is easy to exceed the maximum line length. We should do something more clever...

[2017-07-17 20:36] greschd commented on #2
Ok, I think it shouldn't be too hard to make some logic that groups the bands into contiguous blocks and puts a ``-`` in between.

[2017-07-17 21:02] greschd commented on #2
See https://github.com/aiidateam/aiida-wannier90/blob/master/aiida_wannier90/calculations/_util.py.

[2017-07-19 08:28] AntimoMarrazzo opened #3 "Move .win file writer to a separate function in _utils.py, and test spinor projections"
Provide option to give raw projections

[2017-07-19 12:13] AntimoMarrazzo opened #4 "Generalize the remote folder listdir"
to local transport (i.e. not ssh), by getting the transport type from the remote folder.

[2017-07-19 12:30] greschd opened #5 "Add .win reader in utilities / io"
Could be taken from the aiida-vasp plugin.

[2017-07-20 07:23] greschd opened #6 "Add tests for using remote_input_folder"
And also combinations of ``remote_input_folder`` and ``local_input_folder``.

[2017-07-20 07:24] greschd opened #7 "Update documentation"
- [ ] Pull documentation from previous package and put it into the appropriate docstrings
- [ ] Update documentation of settings and, in general, global review of the documentation
- [x] Update reference to the more recent Wannier90 paper (2020)

[2017-07-23 14:40] #2 closed

[2017-07-23 14:50] greschd opened #8 "Add functionality to detect failed run"
Right now it seems that this information is stored in the ``job_id`` attribute, which seems wrong to me.

[2017-07-23 19:08] greschd opened #9 "Incorrect projection when radial_nodes is None but diffusivity is not"
``zona`` will take the place of ``radial``, which gives means the wrong projection is used

[2017-07-23 23:05] greschd opened #10 "Create tests which verify the full inputs"
Currently, inputs such as e.g. the projections could be malformed, since the test run doesn't actually depend on it being correct.

Maybe the test from the QE - Wannier90 plugin can be used?

[2017-07-24 10:06] greschd commented on #3
TODO:
- [ ] Handle difference between spin / no-spin projections
- [ ] Write tests

[2017-07-24 10:07] greschd commented on #5
I don't think we need to do this right now.

[2017-07-24 10:07] #5 closed

[2017-07-24 10:07] greschd commented on #9
I fixed the issue, but it still needs testing.

[2017-07-24 10:10] greschd commented on #7
@AntimoMarrazzo Can you send me the source file for the QE - Wannier90 documentation?

[2017-07-24 10:13] greschd commented on #8
@sphuber Do you know what is the correct way of marking a calculation as "failed" if the parser still "succeeds" in getting some information? Should the parser explicitly raise an error?

[2017-07-25 19:07] greschd opened #11 "Allow kpoints to be set explicitly"
VASP needs a different order for the k-mesh. One option would be having "VASP" and "QE" order, but in general it's probably easier to just allow explicitly setting the k-points.

[2017-07-25 19:35] #11 closed

[2017-07-26 09:32] greschd opened #12 "Allow prefix other than aiida"
VASP runs require the prefix to be ``wannier90``, so it makes sense to not create a new ``FolderData`` just to rename the input files.

[2017-07-26 11:31] #12 closed

[2017-07-26 11:48] greschd commented on #8
@sphuber Never mind, I figured it out :slightly_smiling_face: The parser just didn't figure out there was a problem in the first place.

[2017-07-27 08:39] greschd commented on #8
Wannier90 doesn't always produce the ``.werr`` file when an error has occurred. An example of this is when the number of bands in the ``.mmn`` file is wrong. This is solved (in a somewhat shady way) by looking for ``Exiting......`` in the output file, which is only written by the subroutine ``io_error`` in Wannier90.

[2017-07-27 08:45] #8 closed

[2017-09-27 11:31] greschd opened #13 "Remove import-time dbenv loading"
For example in ``__init__.py``. Run tests to check if it needs to be added somewhere else.

[2017-09-27 12:55] AntimoMarrazzo opened #14 "name of "retrieve_hoppings""
What about 'retrieve_tbmodel' or anything else? the idea you retrieve the tight binding model...

[2017-09-27 13:33] AntimoMarrazzo opened #15 "random projections as default"
Currently if no projections are specified the plugin set them to random.
Do we want to keep this as default? Or is it better to explicitly ask users to write 'random' as a list?

[2017-09-27 13:46] greschd commented on #15
I think we want to keep that, since that's also what Wannier90 does IIRC.

[2017-09-27 13:52] giovannipizzi commented on #15
If Wannier does it, then is it really needed to add 'random'? I think that in this case it is better to leave the block empty, and not add a line containing the string 'random'?

[2017-09-27 13:57] greschd commented on #15
True, we could just allow the input to not be there.

[2017-09-27 14:11] giovannipizzi commented on #15
Ok, we're implementing this then. We're also adding the possibility to specify the 'random' keyword for a partial list of projections, when passed as a OrbitalData object (when passing a list it's trivial, one just needs to put 'random' as the first element of the string).

[2017-09-27 15:32] AntimoMarrazzo opened #16 "running dft and wannier90 on different clusters"
check that this must be possible and it should work even with RemoteData.

[2017-09-28 10:29] greschd commented on #14
How about ``retrieve_tb``, to be consistent with the Wannier90 option name ``write_tb``?

[2017-09-28 10:31] greschd commented on #14
Just to be clear: The option should retrieve not only the ``_hr.dat`` file, but also the other files generated with ``write_tb``, correct? Otherwise I'd be in favor of keeping the name, or changing it to ``retrieve_hr``. I think it makes sense to be consistent with the Wannier90 ``write_*`` options.

[2017-09-29 13:55] AntimoMarrazzo commented on #14
Actually seedname_tb.dat is a brand new output file. So maybe we change it retrieve_hr and later implement write_tb that retrieves only _tb.dat. In other words, I agree we need to be consistent with Wannier90.

[2017-09-29 13:56] greschd commented on #14
Yes, that makes sense :+1:

[2017-10-13 13:44] giovannipizzi commented on #1
I think it's a bit more complex than that... the problem is that sometimes there are no spaces between coordinates!! (for long numbers starting with a minus)

What about adding a new output to W90 (if it's not already in the tb_parameters) with the centers spreads etc instead of trying to parse the wout?

[2017-10-13 13:44] giovannipizzi opened #17 "Add documentation to the plugin"

[2017-10-13 14:18] greschd commented on #17
We could extend the AiiDA Sphinx extension, to add a directive for documenting calculation classes.

[2017-10-13 15:26] giovannipizzi commented on #17
Good idea!
I've no experience with that, but very happy to contribute if there is some example.

[2017-10-13 15:27] giovannipizzi commented on #17
Another comment (also for @AntimoMarrazzo and @greschd ) I think it's good that if we do `import aiida_wannier90`) this does not crash if we have not loaded the dbenv.
I've moved imports inside functions so at least in __init__ there's no place that requires a dbenv (hopefully in the future we'll improve this also on the AiiDA side).
Anyway if this gets broken, I think also the docs will stop comp

[2017-10-13 16:59] greschd commented on #1
Is there a good library to produce structured output (csv, xml, json, yaml) from Fortran? If so, I would argue for using that when creating a new output file. Otherwise we'll have to write yet another output parser..

[2017-10-13 17:29] giovannipizzi commented on #1
Maybe things like YAML are simple enough to be written even without a library? (I hope...)

[2017-10-13 21:12] greschd commented on #1
Or a CSV with just ``index, x, y, z, spread``.

[2017-10-13 21:20] greschd commented on #17
@giovannipizzi Maybe we can add a test for not requiring the dbenv on import -- can you make a separate issue for that?

[2017-10-19 04:58] giovannipizzi opened #18 "Add tests (travis)"
Add tests with travis, including documentation compilation, and checking that `load_dbenv()` is not needed to do a "bare" `import aiida_wannier90`

[2017-10-19 07:08] greschd commented on #18
To clarify (after discussing with Giovanni): It's ok if ``import aiida_wannier90`` fails when the dbenv is not loaded (although we might still choose to make this work). The important part is that the plugin does **not** try to load the dbenv.

[2017-11-15 18:29] giovannipizzi opened #19 "add option for default input file of W90"
So that `verdi calculation inputcat` works

[2017-11-17 14:30] AntimoMarrazzo opened #20 "kpoint_path format"
Regarding the kpoint_path options in Wannier90 , do you use it by giving in input a KpointsData? The plugin now uses that just to get the special points, so with @giovannipizzi we were thinking to allow as input a ParameterData where you just specify a list with labels and coordinates of high-simmetry points.

[2017-11-17 15:04] greschd commented on #20
I'm not using the ``kpoint_path`` at all right now, because I do some additional post-processing before calculating the bandstructure.

How would that ``ParameterData`` be different (in terms of what you have to specify) from just creating a ``KpointsData`` with ``set_kpoints_path``? The only reason I can see against allowing this is that it might complicate things to add another way of specifying

[2017-11-17 15:17] giovannipizzi commented on #20
I'm thinking to commit the change to allow something like
[code]
that is in the end just the two values returned but `set_kpoints_path`.
This function, btw, is quite 'broken' (at least if not used properly) and I would like at some point to remove it from AiiDA and have instead seekpath as the default.

The reason why we believe this is better is also that we are giving a complex kpointsdata to ha

[2017-11-17 15:21] greschd commented on #20
I think it's ok to deprecate it already now. Can you change the test accordingly? Actually, can you run the tests locally on your machines? Now that the ``.aiida`` folder lookup is in ``aiida-core``, you should be able to just create a ``config.yml`` (you can copy from ``config_example.yml``) and change the path to Wannier90 and your tmp directory.

[2017-11-17 15:22] greschd commented on #20
Might also be a good idea to add a Travis build -- that shouldn't be that hard, we just need to figure out how best to build Wannier90 on Travis.

[2017-11-17 15:23] greschd commented on #20
Or we can replace ``aiida-pytest`` with Rico's test fixtures and just do tests that don't require running Wannier90 itself, or the daemon.

[2017-11-17 17:37] giovannipizzi commented on #20
I changed the type and adapted the tests.

[2017-11-17 18:31] giovannipizzi commented on #20
I added the docs. I move the discussion of the tests to a different issue

[2017-11-17 18:31] #20 closed

[2017-11-17 18:32] giovannipizzi commented on #20
Actually, there's already an issue, #18

[2017-11-17 18:33] giovannipizzi commented on #18
@greschd can you try to add a simple travis test, if you happen to have time?
BTW, for now we cannot use the plugin fixtures because they are not in 0.10.0 but only in develop, and we cannot make this plugin depend on it...

[2017-11-17 19:45] greschd commented on #18
I'll look into it. Not quite sure if ``aiida-pytest`` works nicely with Travis right now, but it should be doable.

[2017-11-20 08:54] greschd commented on #18
@giovannipizzi Could you enable Travis for aiida-wannier90? It seems I don't have the rights to do that.

[2017-11-20 08:55] giovannipizzi commented on #18
Just did, with the option "build only if .travis.yml is present"

[2017-11-20 08:56] greschd commented on #18
Perfect, thanks.

[2017-11-20 10:53] #18 closed

[2017-11-20 11:00] greschd commented on #18
Added a Travis run, which clones and compiles Wannier90 and then runs the local tests. Since it needs the ``AIIDA_PATH`` feature, ``aiida-core`` is currently installed from GitHub as well, but that can be changed after the 0.10 release.

Also had to fix the tests and the parser, due to the change from ``KpointsData`` to ``ParameterData`` in the ``kpoint_path`` variable.

Finally, added ``YAPF`` fo

[2018-04-21 20:28] greschd opened #22 "Calculation reference is missing on RTD"
The ``autoclass`` reference for ``WannierCalculation`` is missing on readthedocs, but not locally.

This is probably because the calculation imports something from ``aiida.orm``, which tries to load the dbenv.

[2019-04-02 09:09] DanielMarchand opened #25 "AttributeError: module 'aiida.common' has no attribute 'setup'"
When running the wannier90 tests, (latest dev branch, at time of writing of aiida_core, aiida-wannier90 branch of aiida-wannier repo).

$cd $MY_AIIDA_DIR/aiida-wannier90/tests
$pytest

[code]
This is odd because if I run a `$verdi shell` I can, in fact, import aiida.common.setup

(FYI this is really just assigned to me, I'm using the 'assign' function merely to alert you to the existence of the is

[2019-04-02 14:18] giovannipizzi commented on #25
Hi,
this has been moved to `aiida.manage.configuration.settings.AIIDA_CONFIG_FOLDER` (@sphuber is this correct?)

However, one shouldn't use this property directly, but use the method of the Manager, e.g. [load_config()](https://github.com/aiidateam/aiida_core/blob/develop/aiida/manage/configuration/utils.py) as an example. Where is the actual code getting the config_folder? What is the ultimate g

[2019-04-02 20:02] DanielMarchand commented on #25
Hi Giovanni,

I did a bit of digging, the errors are coming from aiida_pytest, a dependency which I see has
 not been migrated. I've applied the basic changes to aiida_pytest and made a pull request https://github.com/greschd/aiida_pytest/pull/9, however the aiida_pytest tests still do not pass.

Do you know who developed aiida_pytest, ideally, they could migrate the plugin to b1. Else, we can do

[2019-04-02 20:16] giovannipizzi commented on #25
Yes, it's Dominik Gresch @greschd - I think that some of the features have inspired the AiiDA fixtures and are now present in the AiiDA fixtures. I'd like to hear @greschd 's feeling, but if not essential I'd try to use the AiiDA fixtures, and improve them with the code from aiida_pytest where appropriate

[2019-04-03 03:06] greschd commented on #25
Hi all,

I agree with Giovanni's suggestion here: It's best to replace the aiida_pytest with AiiDA's own fixtures wherever possible, to avoid compatibility issues.

To be honest, ``aiida_pytest`` is quite an ugly code, it should be considered more as a first draft of the fixture feature. It also has some warts coming from the pre-click command-line interface, where it needs to mimic keyboard input

[2019-04-03 07:32] DanielMarchand commented on #25
OK, thanks for letting us know, I'll work on swapping out aiida_pytest with the new test fixtures.

[2019-05-13 15:09] DanielMarchand opened #27 "Update how 'create_gaas_calc' is handled"
create_gaas_calc is managed under @pytest.fixture, either change how this is handled or update the associated tests

[2019-05-13 15:12] DanielMarchand opened #28 "Update test_local_input.py to use the current testing framework"
test_local_input, test_changed_seedname, test_changed_seedname_empty_settings,etc. Are based on the old pytest methods. The need to be updated to work with the new AiiDAplugintests

[2019-05-13 15:13] DanielMarchand opened #29 "Update the testing config.yml to be system-generic (or at least run on travis)"
The current testing config file has many hard-coded parameters, e.g.:

[code]

This should be updated to be generic.

[2019-05-13 15:24] DanielMarchand opened #30 "Cleanup/Modernize the examples directory"
The examples directory is confusing, and possibly filled with obsolete methods. The 'workflows' directory is not even a workflow. The contents of these tests should be checked, merged, and made generic.

[2019-05-13 15:28] DanielMarchand commented on #30
This task would also include making sure the examples can be run at least once, easily, and from two separate computers (ideally from two separate people)

[2019-05-13 15:30] DanielMarchand opened #31 "Address the issues mentioned by "NOTE" in calculations.py"
In aiida_wannier/calculations.py there are multiple spots where I was confused by the update process,  and are marked with "NOTE" these should be addressed. (This should be done after/in-conjunction with correcting the unit tests)

[2019-09-06 04:14] greschd commented on #29
I'm not sure there's a good way to make this generic -- since at the end of the day we need to know where Wannier90 is located. What I've done in some other plugins is create a ``config_example.yml`` checked into the repo, and then put ``config.yml`` into ``.gitignore``. This allows each developer to have a system-specific file, while still showing which parameters should be defined. Better ideas

[2019-09-06 18:33] greschd commented on #28
Would you mind expanding on this a comment a bit? Since I haven't been at the plugin migration workshop, I'm not familiar with what the current best practices for testing are. Do you know if this is documented somewhere, or if there is an example in another plugin?

From looking at the AiiDA fixtures source, I think (might be wrong) that they support creating a DB / profile, but setting up of comp

[2019-09-06 18:36] greschd commented on #28
Related discussion see #25

[2019-09-07 12:45] DanielMarchand commented on #28
Just a brief comment on your question here. For me pytest is fine. The reason why I wrote we needed to move to AiiDAplugintests was because I was under the impresssion that aiida_pytest would no longer be maintained and would never again work with the new AiiDA. So long as this is not the case we can continue to use pytest. I'll send you the materials I have regarding the new testing conventions (

[2019-09-26 20:33] ltalirz opened #36 "import of aiida_wannier90 triggers load_profile"
Noticed this on the aiida-registry - importing the module fails because it tries playing around with the profile configuration

https://travis-ci.org/ltalirz/aiida-registry/builds/590118189#L521-L544

Other plugins do not do this.

[2019-09-27 08:09] greschd commented on #36
Seems to already be fixed in the ``develop`` branch -- the issue was importing from ``aiida.common.utils``, which in turn tried configuring the logging.

I'm not sure what a good strategy for knowing if problems are already (being) fixed from the side of the registry.

[2019-09-28 11:05] ltalirz commented on #36
Thanks, good to know!

For the moment I've made "installing & importing" a separate travis job that is allowed to fail (and I'll keep an eye on this in upcoming PRs).
I'd suggest you keep this issue open until the next release is made into `master`.

[2019-09-28 19:27] greschd commented on #36
The travis job takes the packages from pypi, right? It might make sense to also have one that tries installing the current git master.

[2019-09-28 20:22] ltalirz commented on #36
yes, well - it takes the packages from the "pip_url", which can either be a link to the repo (git+https://...) or the name of a registered package.
This is also what will be shown as the installation instruction for a plugin when clicking on the details page of a plugin (once this PR is merged https://github.com/aiidateam/aiida-registry/pull/80).

I guess the assumption is that stuff released into

[2019-10-29 15:54] giovannipizzi opened #37 "Remove opening transport during `prepare_for_submission`"
Currently, during the `prepare_for_submission` we open a transport to inspect the files available on the remote, and then perform logic to decide what to do:

https://github.com/aiidateam/aiida-wannier90/blob/68c03557465b5e0e44d95c5e92549175460abd06/aiida_wannier90/calculations.py#L142-L149

However, this is not ideal, because

- we risk to open too many connections (we skip the part of AiiDA wher

[2019-10-31 23:43] greschd opened #39 "Pymatgen's "monty" dependency seems to break Python 2 compatibility"
Since the dependency to ``monty`` is not pinned on the older pymatgen version, the recent (Sept. 30th) release of ``monty==3.0.0`` broke our build for Python 2, see e.g. [this travis build](https://travis-ci.org/aiidateam/aiida-wannier90/jobs/605554168?utm_medium=notification&utm_source=github_status).

Options are:
- Explicitly pin the monty version (the obvious solution)
- Drop Python 2 support

[2019-10-31 23:51] greschd opened #40 "Enable branch protections"
@giovannipizzi @normarivano we probably shouldn't push directly to ``develop``, and try to keep the tests we have running. I don't have the necessary permissions, @giovannipizzi can you enable the proper branch protection rules?

[2019-11-01 11:20] giovannipizzi commented on #40
Agreed, this wasn't done on purpose, sorry about that.
I'll now protect the branch (I will just check if we can quickly fix the tests first.

[2019-11-01 11:28] #39 closed

[2019-11-01 11:29] giovannipizzi commented on #39
I would keep python 2 support at least for one release; as soon as we release it, we can drop it.
I already committed and closed the issue, but we can reopen if the fix isn't enough

[2019-11-01 11:31] giovannipizzi commented on #40
I protected the branch.
I didn't set a required test pass because tests are still failing, and I'm not sure why yet.
Maybe @greschd you could help us out for this? In the meantime we'll probably make another PR to clean up the previous commits.

[2019-11-01 11:33] giovannipizzi commented on #19
Default output added in 60d9e33a02c2dc420f4741c5ce4e49d348fa2ec1 - default input probably still to be done

[2019-11-01 12:11] normarivano opened #43 "Reactivate pre-commit hooks and linters"

[2019-11-01 12:25] giovannipizzi opened #45 "Fix failing tests in develop"
In this way, we can set a branch protection connected to Travis.

[2019-11-01 12:25] giovannipizzi commented on #45
@greschd would you mind looking into it? Let us know if you need help.

[2019-11-01 12:26] giovannipizzi opened #46 "Reactivate precommit prospector"
Some errors come from the pytests because of apparently unused imports, due to the way pytest works.

I suggest to first fix the problematic tests in #45 and then work on this issue.

[2019-11-01 12:35] giovannipizzi opened #47 "Change the .travis.yml to use the correct dependencies"
We depend on AiiDA develop in the `travis.yml` file. Now that AiiDA 1.0 is released, we should probably pin instead to aiida-core>=1,<2? Or even more specifically, let this be managed by the pip dependencies?

Same question for aiida_pytest - @greschd what do you suggest to do?

[2019-11-01 12:46] #43 closed

[2019-11-01 12:51] giovannipizzi opened #48 "Add travis tests for the documentation (that is now failing)"

[2019-11-01 12:51] greschd commented on #47
Yeah, the simple pip install should work now - no need to explicitly install aiida-core and aiida-pytest.

[2019-11-01 13:16] greschd commented on #45
Ah wow.. in ``aiida-pytest`` there is an ``__all__`` that contained a ``unicode`` in py2 because of the ``from __future__ import unicode_literals``. That fails, because it's only allowed to be ``str``.

I'll fix that and release ``aiida-pytest==0.1.0a6`` shortly.

[2019-11-01 13:25] greschd commented on #47
I'll get that fixed together with the general issues with tests on travis.

[2019-11-01 13:33] giovannipizzi commented on #47
Thanks!

[2019-11-01 13:42] greschd commented on #36
Just noticed this is a duplicate of #13.

[2019-11-01 13:55] #47 closed

[2019-11-01 13:55] #45 closed

[2019-11-01 13:57] giovannipizzi commented on #40
Now that #49 is merged I've activated the requirement that tests need to pass

[2019-11-01 13:57] #40 closed

[2019-11-01 13:58] greschd commented on #40
Sweet 👍

[2019-11-01 13:58] giovannipizzi commented on #30
@normarivano  has been working on this. Some preliminary work has been committed in 66ca63d2bb560d35b52. The `workflows` folder needs to be still checked, and the README reviewed

[2019-11-01 13:59] giovannipizzi commented on #13
Duplicate of #36

[2019-11-01 13:59] #13 closed

[2019-11-01 14:00] giovannipizzi commented on #31
@normarivano could you please check if any `NOTE` is still around, remove them from the code, add them as separate issues and then close this one (mentioning the issues that you have opened, if needed)? Thanks!

[2019-11-01 14:06] giovannipizzi commented on #27
@greschd @DanielMarchand I'm not sure I understand the details of this issue - is still still an issue (and if so can this be explained a bit in more detail) or can we close this?

[2019-11-01 14:07] giovannipizzi commented on #25
Tests are running fine on travis so I will close this issue. Discussion on aiida-pytest can be moved to other issues if needed

[2019-11-01 14:07] #25 closed

[2019-11-01 14:07] greschd commented on #27
I think we can close it. @DanielMarchand please re-open if you disagree.

[2019-11-01 14:07] #27 closed

[2019-11-01 14:10] giovannipizzi commented on #1
I would consider this issue more general, and improve the names and parsing of the output.
We can then move the issue of creating a more machine-readable file in the Wannier90 repository, and when the feature is released implement its parsing from here.

[2019-11-01 14:10] giovannipizzi commented on #1
@normarivano could you report here the table that we started discussing, with the suggested changes to the parser key names, for discussion with the others?

[2019-11-01 14:12] giovannipizzi commented on #28
Can this be closed for now?

[2019-11-01 14:14] giovannipizzi commented on #29
I'm closing this - now we have a test config file specific for travis, and the config is now called config_example.yml, that I think serves its purpose.

[2019-11-01 14:14] #29 closed

[2019-11-01 14:16] giovannipizzi commented on #4
I think this applied to an older version of the plugin. Now the listdir uses the transport from AiiDA (see 60d9e33a02c2dc) so this is now fixed. However, we should instead address #37

[2019-11-01 14:16] #4 closed

[2019-11-01 14:16] greschd commented on #28
Yeah, I think we'll wait for https://github.com/aiidateam/aiida-core/issues/3473 before looking to get rid of ``aiida-pytest`` completely.

[2019-11-01 14:16] #28 closed

[2019-11-01 14:18] giovannipizzi opened #50 "Should `.pytest_cache/v/test_win_writer` be in the repo?"
There are two files in `.pytest_cache/v/test_win_writer`. From the name I'm guessing these were committed by mistake? Also because `.pytest_cache` is in the .gitignore.

If this is the case, can these be removed?

[2019-11-01 14:33] giovannipizzi commented on #48
This is the current readthedocs error:
[code]

[2019-11-01 14:36] greschd commented on #50
Yes, this is an ugly way of having reference data to compare against (see the ``compare_data`` fixture).

The better way of doing this would be ``pytest-regressions`` or ``pytest-datadir`` (see also my recent e-mail). So for now this needs to be there, but should be migrated away from.

[2019-11-01 15:17] #36 closed

[2019-11-01 16:38] greschd opened #53 "Migrate from (ab-)using 'cache' for test data to 'pytest-datadir' and / or 'pytest-regressions'"
Currently, the ``compare_data`` fixture uses the caching feature of pytest to save reference data (which is generated the first time the test is run). Since this is not the intended purpose of the cache, this should be migrated to use either ``pytest-datadir`` or ``pytest-regressions``.

See also #50.

[2019-11-01 16:39] greschd commented on #50
Closing this in favor of #53 - simply removing the cache directory now will break tests, it needs to be migrated properly.

[2019-11-01 16:39] #50 closed

[2019-11-06 08:37] #48 closed

[2019-11-19 12:51] #53 closed

[2019-11-22 17:45] greschd commented on #15
Seems this no longer work in the current ``develop`` branch, because ``projections`` is a required input. Maybe just setting ``required=False`` fixes this, but it needs testing.

[2019-11-25 10:15] greschd opened #56 "Should tests running Wannier90 be kept?"
In order to add a test for #55, I'm adding separated calculation / parser tests (which don't actually run the code) as implemented in aiida-quantumespresso.

The question now is whether the current test, which does run Wannier90, should be kept.

Points in favor of removing it:
- simplifies test setup (Wannier90 install not required)
- tests run much quicker
- can get rid of ``aiida-pytest`` depen

[2019-12-07 09:54] ltalirz opened #62 "status of plugin"
I'm looking to make a new Quantum Mobile release and Wannier90 is one of the codes, so it should be shipped together with an AiiDA plugin.
I see that the last release of the wannier90 plugin is from 2018.
Does the develop branch work with AiiDA 1?
If yes, should there perhaps be a new release?

mentioning @giovannipizzi

[2019-12-07 13:55] greschd commented on #62
I don't think we're quite ready for a release yet -- the ``develop`` branch kind-of works with 1.0, but only one "happy path" is currently tested. Documentation and examples are also still lagging behind.

Most importantly, I think we need to go through the _interface_ and see if there are things that need to be changed / renamed.

What's the timeline for the Quantum Mobile release?

[2019-12-07 13:57] greschd commented on #62
See also the milestone: https://github.com/aiidateam/aiida-wannier90/milestone/1

[2019-12-07 13:58] greschd commented on #62
If you absolutely need a release before we're all the way done, we can probably make a pre-release.

[2019-12-08 21:14] giovannipizzi commented on #62
Indeed, I agree with @greschd
Maybe, since at least one code path is working, we could start releasing a alpha1 to include in the Quantum Mobile (at least people can try it out), even if as @greschd we are still in the process of possibly changing the keys of the output of the parser for better consistency - and I would release a beta after this, aiming for an actual release soon after, when the m

[2019-12-09 17:32] #56 closed

[2019-12-18 14:10] #15 closed

[2020-01-17 16:24] normarivano commented on #46
@greschd, I'm currently working on cleaning the code in order to fix the reasons for which the prospector fails before reactivate it. One of the messages concerns this:
https://github.com/aiidateam/aiida-wannier90/blob/de8fc8531622d6d2024368fb28e626352e2bb4d2/aiida_wannier90/io/_group_list.py#L23-L25
I get the following:
`pylint: useless-else-on-loop / Else clause on loop without a break statement

[2020-01-17 16:35] greschd commented on #46
Yeah, that code is equivalent to
[code]
because there's no ``break`` statement in the for-loop, so the ``else`` statement is always executed.

[2020-01-17 16:44] normarivano commented on #46
Ok, perfect! Thank you.

[2020-01-30 10:10] greschd opened #68 "Fix missing __all__ in various places"

[2020-01-31 09:59] greschd opened #69 "Add u matrix files to list of files to retrieve"
When ``write_u_matrices`` is set, Wannier90 produced ``seedname_u.mat`` and ``seedname_u_dis.mat``. These are currently not retrieved.

[2020-01-31 10:04] greschd commented on #14
Looking at this again, I wonder why we need an option to disable retrieving these files. Wannier90 already has options to configure if the files are _written_, so if they are written I think they should also be retrieved.

That is, I think all output files which aren't parsed specifically should just be put in the ``retrieve_list`` unconditionally at https://github.com/aiidateam/aiida-wannier90/bl

[2020-01-31 10:11] AntimoMarrazzo commented on #14
I see your logic, indeed one could just disable the writing of the Hamiltonian...
Originally, we introduced that flag because the Hamiltonian is a relatively heavy files so there are a number of cases where you just don't want to store in the repository.
Now I am thinking at possible use cases where the Hamiltonian is passed to another code (e.g. tbmodels, postw90) for postprocessing: there you ma

[2020-01-31 10:24] greschd commented on #14
Hmm yeah that could be a use case for not retrieving them. In the end this only works if the plugin for the using code also supports remote input.. which in the case of ``aiida-tbmodels`` I haven't implemented 😅
But I agree that we want to at least enable this from the side of ``aiida-wannier90``, so maybe the question is just if it should default to retrieving or not retrieving.

[2020-02-06 10:37] giovannipizzi commented on #9
Hi @greschd, just to know about this issue: is this issue now fixed in the code, or not yet?

We are planning a beta release hopefully in 2 weeks, to be ready for the Wannier workshop in late March, so we know if we need to check this or it's already fixed. Thanks!

[2020-02-10 08:37] greschd commented on #9
I kind of forgot what this issue was exactly, but digging through the commit history I think this change fixed it: https://github.com/aiidateam/aiida-wannier90/commit/0b5d8fe7b8cf8402f5a63a5cd91386f0fcd06f94

So it seems this is indeed fixed in the code, but would still be great to test.

[2020-02-11 11:21] normarivano commented on #1
I attach hereafter the table for the parsing of the standard output file. We propose some changes for the keys' names to be implemented within this release. Can you give me some feedback as soon as possible? Thank´s a lot.
@greschd @giovannipizzi @AntimoMarrazzo @qiaojunfeng

| Keys in raw_wout_parser (i.e. seedname.wout parsing) |                                  |

[2020-02-11 11:27] normarivano opened #70 "Parser improvements"
Here we discuss additional information to parse (e.g. number of iteration, Hamiltonian info etc.)

[2020-02-11 11:27] normarivano commented on #1
I´m also going to open an other issue (not in Milestones) in which we can discuss additional information to parse for the future. Me and @qiaojunfeng already started discussing that.
#70

[2020-02-11 13:17] greschd commented on #1
Looks all good to me :+1:

[2020-02-12 23:06] giovannipizzi commented on #1
Thanks a lot! Looks good to me as well. Very good also to go back to UK spelling considering this is what the W90 code uses.

Just a couple of comments of things I would change:
* `r2_mn_writeout` -> `r2mn_writeout` (there is no underscore neither in the name of the flag in the w90 input (`write_r2mn`), neither in the file extension)
* `xyz_wf_centres_writeout` -> `xyz_writeout` (similar reason as

[2020-02-13 11:46] normarivano opened #71 "Undesirable dependence on ase in utils.py"
When running tests pylint complains due to the uninstalled ase.
`aiida_wannier90/utils.py

  Line: 10

    pylint: import-error / Unable to import 'ase' (col 4)`

Maybe it´s overkill to have a dependence on ase only for the ` a = structure.get_ase()` function. We could implement an xsf and remove ase.

[2020-02-13 13:15] AntimoMarrazzo commented on #1
All good for me - I close the issue.

[2020-02-13 13:24] AntimoMarrazzo commented on #71
First, ASE is a fundamental and basic package for AiiDA - so it actually makes a lot of sense to request the dependency, no matter how many times it is explicitly used in W90. I mean try to do anything in AiiDA that involves a crystal structure, 90% you use ASE so...
Second, if something works and it is clean code I would not change it for personal aesthetic reason -  I mean if you have spare time

[2020-02-13 15:35] greschd commented on #71
The cause for the `pylint` issue is that `aiida-core` installs `ase` only when the `atomic_tools` extra is specified, and `aiida-wannier90` doesn't have the dependency specified.

I agree with @AntimoMarrazzo that it's very likely ASE will be installed anyway, so as far as I'm concerned we can just put it in `install_requires`.

[2020-02-14 12:22] greschd commented on #9
let's finish things up at the hackathon?

[2020-02-17 06:49] greschd opened #72 "Travis: doc build broken for python3"
See e.g. https://travis-ci.org/aiidateam/aiida-wannier90/jobs/650423271

[2020-02-17 15:56] #72 closed

[2020-02-17 16:38] #46 closed

[2020-02-18 11:05] #71 closed

[2020-02-19 08:04] greschd opened #76 "Mutually exclusive remote_input_folder and local_input_folder"
Related to #69, #37, #14.

Currently, the logic for selecting input files needs to get the list of files in the `RemoteData`. This opens an SSH transport -- if that fails, the calculation will except, because there is no retry mechanism. In addition, if there are many calculation the remote might block connections. Unlike the regular transport, SSH connections are not re-used. As far as I can tell

[2020-02-21 08:39] giovannipizzi commented on #68
Fixed in #75

[2020-02-21 08:39] #68 closed

[2020-02-21 08:42] giovannipizzi commented on #1
I reopen it - let's close it when we have the PR that changes the names

[2020-02-21 09:48] greschd commented on #69
In discussion with @giovannipizzi, we decided the following: by default, retrieve all files, with two exceptions:
- Keep the special treatment for .nnkp (retrieve to temporary, add as SinglefileData)
- Do not retrieve .chk

Here's the full list of file suffixes, for reference:
[code]

[2020-02-21 17:18] normarivano commented on #76
Me and @qiaojunfeng we checked and discussed together. In our opinion it should be fine but we are not completely sure. No obvious cases came to our mind by the way.

[2020-02-21 18:27] greschd commented on #76
Ok, I will go ahead with this, then. If the need arises we can always implement this (should be possible in a backwards-compatible way).

[2020-02-24 14:48] #1 closed

[2020-02-24 15:18] #69 closed

[2020-02-24 15:20] giovannipizzi commented on #14
Fixed in #79 - now everything known is retrieved (but it is possible to say in the `settings` what you don't want), since anyway if the file is being generated, it's because it's asked for in the input of Wannier90

[2020-02-24 15:20] #14 closed

[2020-02-24 15:22] giovannipizzi commented on #76
Thanks @greschd - yes, please go ahead! I'll also added this to the 2.0 milestone as it's backward-incompatible

[2020-02-24 15:33] giovannipizzi commented on #62
For the record - we're aiming at releasing this soon, so it can be used for the Wannier90 school in late March - where we want to use the Quantum Mobile

[2020-02-24 15:35] giovannipizzi commented on #31
I'm closing this as the last notes will be fixed in #76

[2020-02-24 15:35] #31 closed

[2020-02-24 15:35] giovannipizzi commented on #76
Just as a note for @greschd  - you might want to check if this comment still holds or needs a fix:
https://github.com/aiidateam/aiida-wannier90/blob/2b6084608a452614413f32a64669680210298660/aiida_wannier90/calculations.py#L306

Also, probably the fix will always solve #37

[2020-02-24 15:36] greschd commented on #37
@giovannipizzi after looking into this, I realize I had misunderstood this issue: For some reason, I assumed we could just specify the full list of files that could possibly be copied. Instead, of course AiiDA will check if the files are actually present, and fail if they are not.

Explicitly specifying the files is problematic because of the ``UNK*`` files, whose filenames are somewhat dynamic.

[2020-02-24 15:37] greschd commented on #76
See my comment on  #37 -- let's continue the discussion there.

[2020-02-24 15:39] giovannipizzi commented on #17
I'm closing this as I think we can fix it by fixing #7

[2020-02-24 15:39] #17 closed

[2020-02-26 11:24] #30 closed

[2020-02-26 11:26] greschd commented on #30
Just to make sure, did we check that the https://github.com/aiidateam/aiida-wannier90/blob/develop/examples/example01/wannier_gaas.py is fixed also?

[2020-02-26 11:33] giovannipizzi commented on #37
Hi @greschd , thanks!

Indeed, for the local copy list, all files need to be specified. But for these, we have them in the repository so we can expand the '*' if needed.

For the remote copy list, the call is here:

https://github.com/aiidateam/aiida-core/blob/67d4504c0c02bdb09497600f7ca15ff56e0575a5/aiida/engine/daemon/execmanager.py#L220

and transport.copy supports globbing (currently in the pl

[2020-02-26 11:48] greschd commented on #37
Aha! Yeah this might work.. so the logic would be

* in case of `local_input_folder`: keep current behavior
* in case of `remote_input_folder`:
  * put all required + optional files _except .chk_ into ``remote_symlink_list``, with globbing for ``UNK*``
  * put ``seedname.chk`` in ``remote_copy_list``

is that correct?

Of course we won't have the validation or required input files in the case of a

[2020-02-26 13:12] giovannipizzi commented on #37
I think what you suggest is ok.

A comment on one thing that I just realised, however - if you call `transport.copy` with a specific filename, if will fail if it does not exist, while it does not raise if it's a globbing pattern that does not match anything... Maybe this is a bit of an unexpected behaviour (and this might make things a bit more complex in our case).

See e.g.
[code]

Maybe an appr

[2020-02-26 13:18] greschd commented on #37
Yeah, I would just glob on the suffix, then.

As a long-term solution, maybe we can introduce the concept of "required" vs. "optional" files in AiiDA itself?

[2020-02-26 14:23] giovannipizzi commented on #37
Great!

It's a good point. Do you want to open an issue on aiida-core (I don't think we have one), both for the order of local vs. remote, and for this?

It's a good point. Suggestions welcome on how to change this (maybe we have to change `RemoteData.listdir` to have a specific option `open_transport=True`, and set this by default to False, and use some internal cache as you were suggesting? I th

[2020-02-27 13:28] #19 closed

[2020-02-27 13:28] #6 closed

[2020-02-27 15:03] greschd commented on #76
Small question: In ``pp_setup`` mode, should we allow setting any input folders? Currently it's allowed, but AFAIK it doesn't really make sense.

[2020-02-27 15:18] giovannipizzi opened #82 "Add parsing of .labelinfo.dat"
Wannier90 3.0 comes with a `<SEEDNAME>.labelinfo.dat` file that gives precise information on the location of the high-symmetry points along the k-points path.
Additionally, the logic on which points to print has been changed partially.

For this reason, we should add a parser for this file, if it's there.
I have an initial implementation that I gave to @qiaojunfeng and he'll take over from that.

[2020-02-27 17:02] giovannipizzi commented on #76
Agreed - no input folders in pp_setup mode (maybe then we can just use the presence of an input to decide if we are running in pp_setup mode?)

[2020-02-27 17:02] giovannipizzi commented on #82
@greschd yes, thanks! I had already mentioned to @qiaojunfeng

[2020-02-27 17:16] greschd commented on #76
Not sure about that.. maybe it's a bit too easy to accidentally run in ``pp_setup`` mode then?

[2020-02-28 09:50] #9 closed

[2020-02-28 12:14] greschd commented on #3
@giovannipizzi this is also fixed by #85, right?

[2020-02-28 12:49] greschd commented on #7
"Update paper reference" is fixed once #86 is merged.

[2020-02-28 12:56] #37 closed

[2020-02-28 12:56] #76 closed

[2020-02-28 13:27] #22 closed

[2020-02-28 13:30] greschd commented on #10
@giovannipizzi I think this is partially addressed with the recent changes. Maybe we should close this, and if there are specific things we want to test open separate issues?

[2020-02-28 13:53] giovannipizzi commented on #3
Not really, in #85 I didn't write tests for the spin case.
Just did it in #87. I'm also going to rename now this issue.

[2020-02-28 13:54] giovannipizzi commented on #10
Yes.
This is fixed by a number of recent PRs including #85, #87 and a number of earlier ones adding tests.

[2020-02-28 13:54] #10 closed

[2020-02-28 13:58] giovannipizzi commented on #62
I think that as soon as #82 is fixed, we can already do a rc1, so we can prepare a Quantum Mobile with it - and then we can do #7 (documentation) next week (@normarivano was willing to help), before the final release (of course if someone e.g. @greschd wants to work on it, great - I think it's mostly making sure that the docs are up to date with the code).

[2020-02-28 14:09] greschd commented on #62
Agree that the code is ready for a release candidate.

I won't get around to writing documentation next week, but if there are technical issues / questions in building it feel free to ping me @normarivano.

[2020-02-28 16:38] #3 closed

[2020-03-03 11:25] #82 closed

[2020-03-05 10:45] giovannipizzi opened #90 "Use error codes in the parser rather than just outputting human-readable strings"
At the moment, warnings that are detected are simply added as human-readable strings into a 'warnings' list in the parsed output.

Task:
- [ ] define which error codes we want to have (this can be done in this issue)
- [ ] implement these

[2020-03-05 14:10] greschd commented on #90
@giovannipizzi, is the intent to change this before the 2.0 release, or after?

[2020-03-06 11:00] #7 closed

[2020-03-06 12:43] giovannipizzi commented on #62
Documentation has been fixed by @normarivano and myself in #7
Release 2.0 just done and also on [pypi](https://pypi.org/project/aiida-wannier90/2.0.0/
)

I am therefore alerting @ltalirz so he can include it in the Quantum Mobile, and I am closing this issue!

[2020-03-06 12:43] #62 closed

[2020-03-06 12:57] greschd commented on #62
Thanks a lot @normarivano @qiaojunfeng @giovannipizzi!

[2020-03-06 13:56] greschd opened #93 "Remove Python2 support"
Since 2.0 is released, I think we can drop support for Python2 in the `develop` branch.

@giovannipizzi do you agree?

[2020-03-06 14:00] giovannipizzi commented on #90
I would has said after, but since 2.0 is out, this is now obvious ;-)

I think we can drop py2 support and move on, and do additional improvements for the upcoming release (we needed to have something working with AiiDA 1.0 and both python versions so people in AiiDA 1.0 can use it).

[2020-03-06 14:13] giovannipizzi commented on #93
Yes, just mentioned this as an answer to your comment in #90 :-)
Feel free to go ahead with the work (boring but satisfactory I think ;-) ), if you want!

[2020-03-08 20:17] #93 closed

[2020-03-13 09:00] giovannipizzi opened #95 "Complain if we couldn't guess the `mp_grid` and it was not set by the user"
E.g. if the user passes an explicit list of k-points rather than a mesh
https://github.com/aiidateam/aiida-wannier90/blob/dcda325c99ebbd8c99fb9f73087abc7c4fcf037e/aiida_wannier90/io/_write_win.py#L84

[2020-04-17 19:25] espenfl opened #99 "Include a parser for the input file"
Sometimes, especially when running Wannier90 in library mode it is useful to read the input file.

We should consider to include a parser for this file. As an initial approach we might reuse what is in the `aiida-vasp` plugin: https://github.com/aiida-vasp/aiida-vasp/blob/develop/aiida_vasp/parsers/file_parsers/win.py and https://github.com/aiida-vasp/aiida-vasp/blob/develop/aiida_vasp/parsers/vas

[2020-04-20 06:00] giovannipizzi commented on #99
Hi Espen, thanks!
Actually, I have been discussing with @jimustafa in the past weeks, who has written a module called [wannier90-utils](https://github.com/jimustafa/wannier90-utils), and he's happy to share the work.
I was planning to write back an issue here these days, but since you just opened one, I'll report here.

What about the idea of creating a single library, merging the work of @jimusta

[2020-04-20 06:29] espenfl commented on #99
That is great and makes total sense. I suggest that we use this library and make an AiiDA interface (should be placed in `aiida-wannier90`) that offer an easy way to e.g. dump `StructureData` to atoms etc. Also, this should have some tests that ensure this wrapper works up updates in `wannier90-utils` etc.

[2020-04-22 04:21] hongyi-zhao opened #100 "Other tools support in wannier90 packge for this plugin."
Hi,

I noted that there are several tools included in wannier90 packge, say the following:

[code]

But it seems this plugin only support the wannier90.x of them.  Any hints?

Regards

[2020-04-22 11:23] greschd commented on #100
That's correct, these are not currently supported by ``aiida-wannier90`` - I don't know if there are any plans to add support, but if you're willing to implement this we can certainly help you with the design questions.

@giovannipizzi would know if there is already some ongoing work on this.

[2020-04-22 13:22] hongyi-zhao commented on #100
Dominik Gresch <notifications@github.com> 于2020年4月22日周三 下午7:23写道：

I don't think I've enough capability for doing that thing currently, let me
have more understanding on the mechanism of them and give a try.

Another issue I noticed that these tools have relative few options, so why
split into too many tools?  This is just like the differences between vasp
and quantum espresso.  The former only ha

[2020-04-22 13:43] greschd commented on #100
I think this is a design choice of having more but simple tools, following (roughly) the UNIX philosophy of "doing one thing well".

From the point of view of AiiDA it doesn't make _that_ much of a difference whether we have many simple calculation plugins, or a single more complex one.

I can't comment on whether the "separate tools" or "monolith" approach would be better in this specific case -

[2020-04-24 07:15] giovannipizzi commented on #100
There is plan to support at least postw90.x, this might happen relatively soon but we have no official timeline yet. Mentioning also @normarivano and @qiaojunfeng who might end up implementing them (but we cannot guarantee anything at the moment)

[2020-04-24 07:37] qiaojunfeng commented on #99
I think this is a great idea, to have an aiida-independent package for parsing Wannier90 related files, not only input file but also bands data files, etc. Previously, I personally wrote a simple win file parser for retrieving crystal structure, but I didn't have the time to add more features and make it stable enough. So if we could unify similar efforts into a single, well-tested package, that w

[2020-04-24 07:43] qiaojunfeng commented on #100
On our wishlist :), but no concrete plan for the moment.

[2020-04-24 07:46] espenfl commented on #99
From our side, we are happy to drop whatever we have in the `aiida-vasp` plugin as that is the bare minimum. It is probably easier for us just to call whatever routines are defined in `aiida-wannier90` and then in `aiida-wannier90` you decide how you want to do this.

Would it be possible to start the work on implementing these function in `aiida-wannier90` now (like `write_win` from a `Dict`, `ge

[2020-04-26 21:34] jimustafa commented on #99
Looks like there is some consensus that a collaborative effort to develop a generic `wannier90` I/O library would be useful to the community. Not sure about the best starting point; if `wannier90-utils` makes sense, then I would be happy to take some direction on what additional functionality is needed to work with the `aiida-wannier90` package. After a review of `wannier90-utils`, we can begin a

[2020-06-04 09:24] greschd commented on #99
Hi @jimustafa,

Sorry for the long radio silence, I only just got the chance to look at `wannier90-utils` in some detail. It looks awesome, thanks for writing & suggesting it!

I have a few comments w.r.t. making this work with `aiida-wannier90`:
- For the file _writing_ functions, we have two separate implementations (here in `aiida-wannier90`, and in `wannier90-utils`). I think it would be prude

[2020-06-04 10:28] espenfl commented on #99
Thanks for the suggestions @greschd. I do not think the stuff in the VASP plugin is that usable once we can an interface to `wannier90-utils`. Also it would make total sense for us to ditch any `wannier90` specific code in favour of a library.

In VASP we also have `parsevasp` which handles the parsing and then we have wrappers in `aiida-vasp` which just access the necessary functions. Maybe we sh

[2020-06-10 11:17] greschd opened #101 "Storage of mmn file (and other large files)"
I find myself needing to store the `.mmn` file, which can become quite large - and other large files, but that is the main culprit.

A quick test showed that by converting to a numpy file (as `ArrayData` would do) reduces the file size by roughly a factor of 2.

Since the Mmn files are also redundant (M^(k,k+b) is the adjoint of M^(k+b,k)), another factor of two could be saved by clever conversion

[2020-06-11 19:52] giovannipizzi commented on #101
I have mixed feelings - I fear the risk of introducing bugs is large at a small advantage for the user.
In particular: if you just zip the file, most probably you get a larger gain? My guess is a factor of 3 or 4 reduction, so in this case the simplest thing would be to just zip the file (or wait for the new AiiDA repository that could come with zipping ;-) very happy if you want to participate in

[2020-06-11 21:34] greschd commented on #101
Yeah, without crazy compression levels (which are slow) that ends up being roughly a factor 3 - significantly bigger (~1.5x) than HDF5 taking advantage of the structure of the matrix, but not egregiously so.

I think I agree on the conclusion (not worth it) - what I _do_ wonder is whether it would make sense to use the symmetry of Mmn in `pw2wannier90.x`. In large systems, calculating the overlaps

[2020-06-11 21:34] #101 closed

[2020-06-12 06:10] giovannipizzi commented on #101
Re symmetry: yes, we are starting to look into that (symmetry in pw2wannier90). There are various things that can be done, they require a bit of work though.
Contact me in private if you want to contribute!

[2020-06-18 14:45] greschd commented on #99
Yeah, I'm vaguely aware of the generic interface in `parsevasp` - long-term it's probably a good idea to use a similar approach (maybe sharing the very base code) to parsing. For now though, I'd probably just take the existing parsing code and put it in a separate library.

[2020-06-19 20:01] espenfl commented on #99
In fact, the generic parser stuff is in `aiida-vasp`. The actual parsing is done in `parsevasp` and that is rather brute force and not general. Okey, I agree with your suggestion.

[2020-06-21 00:00] jimustafa commented on #99
Responding to the comments made by @greschd:

Regarding the routines for writing `wannier90`-related files... yes, let me take some time to compare those in `wannier90-utils` and `aiida-wannier90`.

For those `wannier90-utils` I/O routines that take a file path (ie, `str`) as an argument, it should be possible to allow for generators and file objects in a backwards-compatible way.

Currently, `wan

[2020-08-13 12:23] greschd opened #102 "Define exit codes that should invalidate the cache"
By default, AiiDA will consider all terminated calculations as valid cache, regardless of their exit code. This makes sense for calculations that failed for a "deterministic reason" (e.g., malformed input), but not for calculations that fail due to intermittent issues on the cluster.

To handle this, the `invalidates_cache` keyword can be set on exit codes (since AiiDA 1.1, https://github.com/aiid

[2020-08-13 12:32] greschd commented on #90
When adding more exit codes, I think it makes sense to follow a convention similar (or equal) to https://github.com/aiidateam/aiida-quantumespresso/issues/296#issuecomment-499590548

[2020-08-13 15:40] greschd opened #103 "Add a check to see that the 'all done' message is printed"
Currently, a calculation that is hard-killed during execution can still have exit code `0` - since none of the error messages that we look for is triggered. This could be avoided by checking for the

[code]
message. I'm not sure if that should be there in all circumstances, but if yes it would be a reliable way to see when the output is truncated.

[2020-08-27 10:09] giovannipizzi commented on #102
Just to be sure, the current version is 1.0 compatible, right?
I think it's ok to move on to a new version that is only 1.1+ (I would be OK even with 1.3+) compatible, and py3 only.
If you want to work on a new branch about this, please go ahead! Maybe @qiaojunfeng can help at least reviewing the PRs?

[2020-08-27 11:18] greschd commented on #102
Yes

Ok, in that case the change should be really simple - unless we want to define ranges of exit codes that do it automagically, but I think that's not necessary yet.
There's not really any need to go 1.3+, since AFAIK there are no features we need here that aren't available in 1.1+. But yeah, in general I think we should just use the latest features here, and deprecate support for older AiiDA v

[2020-08-28 07:10] #102 closed

[2020-08-28 07:29] giovannipizzi commented on #99
Hi all, just to keep the momentum going, is there agreement in developing a stable wannier90-utils library starting to @jimustafa and extending with functionality from other plugins? Would anybody have the time to work actively on it? If so, please say it so and we should then organise a Skype/Zoom meeting to discuss the details and then get started with the implementation

[2020-08-28 09:40] greschd commented on #99
For me both approaches would work, either a separate I/O library, or adopting `wannier90-utils` after some slight interface changes. I'd say this is up to @jimustafa, there are certainly trade-offs to both (some additional overhead in maintaining two libraries, and making it a bit more difficult to neatly integrate the two).

I have capacity to do some interface design and PR reviews, but not to d

[2020-08-28 13:50] greschd commented on #103
Note: when running Wannier90 with `-pp`, `All done` is not printed.

[2020-08-30 21:50] jimustafa commented on #99
I would be happy to take responsibility for the active development of either approach, although, a bit more inclined to just develop a separate I/O library. A good starting point could be cloning `wannier90-utils` and striping the non-I/O-related routines, and modifying the existing interface according to what we decide. It seems that reproducing the functionality of `wannier90`, such as computing

[2020-08-31 05:52] espenfl commented on #99
Yes, I support going for a separate library (or sub-libraries if need be). I can follow and do PR reviews, possible contribute with some smaller parts, but I have no capacity to do the majority, unfortunately.

[2020-09-18 08:29] greschd commented on #99
@giovannipizzi, do you want to coordinate that?

[2020-11-01 14:07] giovannipizzi commented on #99
Unfortunately I won't be able to coordinate much at least until the end of the year - if someone wants to take the lead and prepare the scaffolding for the library (@jimustafa?) that'd be great. I can create a repository e.g. here under aiida-team for now, and if things go well in case we even move it directly under wannier-developers?

[2021-02-01 20:58] greschd opened #107 "Fix 'launch_w90_minimal' example"
Pylint currently (AFAICT, correctly) identifies the following issue in the example:

[code]

[2022-02-10 08:15] espenfl commented on #99
@giovannipizzi @jimustafa What do we think of this one? Can we make this happen? We can maybe contribute a bit from the AiiDA-VASP side as well.

[2022-02-15 07:22] jimustafa commented on #99
Hey all. Glad there is still interest. I can try to get something going...

[2022-02-15 11:55] espenfl commented on #99
@jimustafa Excellent. If we could start something rather soon that would be awesome. What we are looking for is to move out Wannier90 input parsers out of the AiiDA-VASP plugin so that it is maintained in a proper place. I understand such a thing does not exist in the plugin? Is this something you can add? Here some some things that we have already that does not really work: https://github.com/aii

[2022-02-16 20:29] giovannipizzi commented on #99
I suggest to work in a new repo (or modifying Jamal's wannier-utils). If we want, we can then move it either in this organization, or even better maybe in the wannier-developers organization (we'll need to see if the name is clear enough).